body {
  padding-top: 50px;
  text-align: left;
  background: #CEE1C1;
  background-position: center;
}

h1 {
  font-size: 70px;
  font-family: 'Helvetica', sans-serif;
  color: white;
  font-weight: 200;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

p{
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
  color: #142429;
}

article {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

input {
  border: 2 black;
  border-radius: 3px;
  padding: 10px;
  font-size: 18px;
}

input[type="submit"] {
  border: 0;
  border-radius: 3px;
  background: #B33C44;
  color: white;
}

.navbar {
	background: rgba(0,0,0,0.5);
}

.jumbotron {
  padding: 75px;
  margin-top: -50px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #eeeeee;
  background: url("/personal_hp/assets/blue_squares.png");
  background-size: cover;
  text-shadow: 1px 1px 1px gray;

}

.post_headline {
	color: #EA4E56;
	font-weight: 550;
}

.post_body {
	font-weight: 550;
}